:root {
  --bgc-color: #eaecf8;
  --card-color: #e4e5e9;
  --font: "Roboto", sans-serif;
  --font-size-m: 2.5vh;
  --font-size-s: 2.2vh;
  --icons-font-size: 2.8vh;
  --section-padding: 1.8vh 2.8vh;
  --avatar-margin: 1.8vh;
  --p-margin-top: 1.8vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.card-container {
  position: relative;
  width: min(70vh, 90vw);
  height: min(70vh, 90vw);
}

.pop-out-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-photo {
  width: 100%;
  height: 100%;
}

.main-photo svg {
  min-width: 135%;
  height: 183%;
}
